#page-create-point {
    width: 90%;
    max-width: 1100px;
    /* alinhamento de caixa pelo lado de fora da caixa */
    margin: 0 auto;
}

#page-create-point header {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page-create-point header a {
    color: var(--title-color);
    font-weight: bold;
    display: flex;
    align-items: center;
}

#page-create-point header a span {
    margin-right: 16px;
    background-image: url('../assets/arrow-left.svg');
    width: 20px;
    height: 24px;
}

form {
    background-color: white;
    margin: 80px auto;
    /* preenchimento interno da caixa */
    padding: 64px;
    /* borda arredondada nas pontas */
    border-radius: 8px;
    max-width: 730px;
}

form h1 {
    font-size: 36px;
}

form fieldset {
    margin-top: 64px;
    border: 0;
}

form legend {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

form legend h2 {
    font-size: 24px;
}

form legend span {
    font-size: 14px;
    color: var(--title-color);
}

/* O ponto se refere a uma class*/

form .field {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

form .field-group {
    display: flex;
}

/* Inserir o padrão para dois itens diferentes */

form input, form select {
    background-color: #f0f0f5;
    border: 0;
    padding: 16px 24px;
    font-size: 16px;
    border-radius: 8px;
    /* Remove a linha preta quando seleciona o item */
    outline: none;
}

/* Ativar o item quando estiver com o teclado ativo */

form input:focus, form select:focus {
    background-color: rgba(50, 33, 83, 0.2);
}

form select {
    /* Tira o efeito do menu selecionar para o Chrome */
    -webkit-appearance: none;
    /* Tira o efeito do menu selecionar para o Mozilla */
    -moz-appearance: none;
    /* Tira o efeito do menu selecionar em geral */
    appearance: none;
}

form label {
    font-size: 16px;
    margin-bottom: 8px;
}

/* Aplicar somente para o item que está seguido de outro item. O field seguido do field. */

form .field-group .field+.field {
    margin-left: 24px;
}

form button {
    width: 260px;
    height: 56px;
    background-color: var(--primary-color);
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    margin-top: 40px;
    /* Delay / transição para carregar possui várias propriedades */
    transition: background-color 400ms;
}

form button:hover {
    background-color: #2fb86e;
}

.items-grid {
    /* O flex é unidirecional o grid é dimensional. usar o fr para fazer em fraçoes de mesma proporção */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* gap - propriedade especial para o grid que é melhor que o margin */
    gap: 16px;
}

.items-grid li {
    background-color: #f5f5f5;
    /* tirar os bullets do grid */
    list-style: none;
    border: 2px solid #f5f5f5;
    border-radius: 8px;
    height: 180px;
    padding: 32px 24px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    /* colocar mãozinha quando selecionar o mouse em cima */
    cursor: pointer;
}

.items-grid li .span {
    margin-top: 12px;
    /* Preenche tudo com o espaço restante */
    flex: 1;
    display: flex;
    align-items: center;
    color: var(--title-color);
}

.items-grid li.selected {
    background: #e1faec;
    border: 2px solid #34cb79;
}

/* Remover eventos de pointer, assim o click vai só no pai e não nos filhos */

.items-grid li img, .items-grid li span {
    pointer-events: none;
}